:root {
  --primary: #1a4171;
  --secondary: #e29734;
  --tertiary: #B12704;
  --quaternary: #800055;
  --quinary: #d7d2ce;
  --light: #fafafa;
  --dark: #272f32;
  --error: #e42e01;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 15px;
  color: var(--quaternary);
  background-color: var(--quinary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h7 {
  color: var(--light);
  font-size: 0.9rem;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--quaternary);
  border-radius: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--light);
  border-bottom: solid 1px var(--dark);
  padding: 2px 10px 2px 10px;
}

header a {
  color: var(--dark);
}

li {
  list-style: none;
}

button {
  font-size: .8rem;
  text-decoration: none;
  padding: 0.25rem .5rem;
  border-radius: .4rem;
  /* border: 1px solid var(--quinary); */
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: var(--quinary);
  background-color: var(--quaternary);
  box-shadow: 1px 2px 9px 1px var(--primary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

.card img:hover {
  opacity: 0.8;
}


span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.bodyContainer {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.align-center{
  align-content: center;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.card2 {
  width: 20%;
  text-align: center;
  border: solid var(--light) 1px;
  border-radius: 1rem;
}

.error-text {
  color: var(--error);
}

.currentcat {
  text-align: center;
  color: var(--primary);
  background-color: var(--quinary);
  border-radius: .3rem;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-around;
  }

  .card2 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  
  header div h7 {
    display: none;
  }

  .hero {
    height: 50%;
    width: auto;

  }

  .card2 {
    width: 100%;
  }
}