.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 10%;
  max-width: 450px;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--primary);
  border: solid 1px var(--primary);
  border-radius: 30%;
  padding: .55rem;
  width: 50px;
  height: 50px;
  z-index: 100;
}

.cart-closed:hover {
  transform: rotate(22deg);
  background-color: var(--primary);
  border: solid 1px var(--secondary);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart-item {
  border-bottom: 1px solid var(--primary);
  margin-bottom: 10px;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

.basketTotal {
  border-top: 1px solid var(--quaternary);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}